.app {
  background-color: white;
  a {
    color: inherit;
    text-decoration: none;
  }
  &__header {
    position: fixed;
    top: 0px;
    height: 150px;
    padding: 20px 15px;

    background-color: #1976d2;
    z-index: 1;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    width: calc(100% - 30px);
    &__title {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 3px;
      color: #ffffff;
    }
    &__subtitle {
      font-size: 13px;
      color: #ffffff;
    }
    &__icon {
      position: fixed;
      top: 35px;
      background: none;
      padding: 0px;
      right: 15px;
      outline: none;
      border: none;
      cursor: pointer;
      opacity: 0.7;
    }
    &__country {
      display: inline-flex;
      align-items: center;
      padding: 7px 10px;
      background-color: #fff;
      color: inherit;
      border-radius: 32px;
      margin-top: 10px;
      font-size: 14px;
      border: none;
      outline: none;
      &__flag {
        margin-right: 5px;
      }
      &__arrow {
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
    }
  }
  &__footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: 7px 0px;
    background-color: #ffffff;
    border-top: 1px solid #f1f1f1;
    z-index: 4;
    a {
      color: #1976d2;
    }
  }

  .phone__icon {
    margin-right: 10px;
    position: relative;
    // bottom: 2px;
  }
  .phone__number {
    position: relative;
    top: 0.13em;
  }

  &__body {
    padding: 35px 15px 15px;
    margin: 0 auto;
    background-color: #ffffff;
    //height: calc(100vh - 145px);
    margin-top: 125px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    //box-shadow: -3px 3px 12px rgba(10, 46, 101, 0.03);
    z-index: 2;
    position: relative;
    &__new {
      &__button {
        display: flex;
        justify-content: center;
      }
      button {
        background: none !important;
        border: none;
        padding: 0 !important;
        /*optional*/
        font-family: arial, sans-serif;
        /*input has OS specific font-family*/
        color: #1976d2;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 15px;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &__button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 5;
    button {
      border: none;
      padding: 0 !important;
      color: #1976d2;
      cursor: pointer;
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 15px;
      align-items: center;
      border-radius: 50%;
      height: 55px;
      width: 55px;
      background-color: #1976d2;
      &:focus {
        outline: none;
      }
    }
  }
  &__select {
    &__option {
      padding: 13px 0px;
      &:not(:last-of-type) {
        border-bottom: 1px solid #f1f1f1;
      }

      &__flag {
        margin-right: 5px;
      }
    }
  }

  .country__select {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
  }
  .card {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: -3px 3px 12px rgba(10, 46, 101, 0.03);
    padding: 16px 13px;
    border: 1px solid #f1f1f1;
  }
  .flex {
    display: flex;
    &__aligncenter {
      align-items: center;
    }
    &__justifycenter {
      justify-content: center;
    }
  }
  .mb-20 {
    margin-bottom: 20px;
  }
}
